<div class="form_container">
    <form [formGroup] = "SignupForm" (ngSubmit) = "onClickSubmit(formdata.value)">
      <header>Login</header>
      <label>Username</label>
      <input type="text" name="uname" formControlName="uname"/>
      <label>Email</label>
      <input type="email" name="email" formControlName="email"/>
      <div class="help">Atleast 6 charater</div>
      <label>Password</label>
      <input type="password" name="passwd" class="fortextbox" formControlName="passwd"/>
      <div class="help">Use alphanumeric</div>
      <button [disabled] = "!SignupForm.valid" value="Login">SignUp</button>
    </form>
  </div>